.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .login-container form {
    display: grid;
    gap: 10px;
  }
  
  .login-container div {
    display: flex;
    align-items: center;
  }
  
  .login-container label {
    width: 100px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
  }
  
  .login-container button[type="submit"] {
    width: 50%;
    margin: 20px auto 0;
  }
  